<!DOCTYPE html>
<html>
<head>
  <title>Squawker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">
    <div id="nav-container">
      <%= render partial: 'squawks/nav' %>
    </div>

    <!-- Hidden forms -->
    <%= render partial: 'squawks/form', layout: 'squawks/squawk_modal' %>
    <%= render partial: 'devise/sessions/new', layout: 'squawks/login_modal' %>

    <!-- Shows errors when one is present -->
    <div class="container">
      <div class="alert alert-dismissable" id="ajax-flashes">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
    </div>

    <div class="container">
    <% if current_user %>
      <button action="squawks/new" type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_squawk_modal">
        New Squawk
      </button>
    <% end %>

    <%= yield %>

    </div>

  </div>


  <div class="footer"></div>

</body>
</html>
